<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item" style="padding: 30px 0px;">
      <a href="" class="nav-link active"><h4>Company</h4></a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/pages/sales']" class="nav-link active"
        >Sales Report</a
      >
    </li>
    <li class="nav-item">
      <a [routerLink]="['/pages/store']" class="nav-link active">Store</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/pages/products']" class="nav-link active">Products</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/pages/dashboard']" class="nav-link active"
        >Dashboard</a
      >
    </li>
  </ul>
</div>
