.sidebar {
  background: radial-gradient(at 50% 10%, #7387d5, #34468e) fixed;
  color: #fff;
  height: 100vh;
  padding-left: 20px;
  padding-bottom: 0px;
}

.nav-item a {
  color: white;
}

.nav-item a:hover {
  background: #7387d5;
}

hr {
  stroke-width: 1px;
  outline-color: white;
}
